
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Profile</ion-title>
</ion-navbar>


<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="{{user.avatar_url}}">
      </ion-thumbnail>
      {{user.login}}<br/>
      <small>
        {{user.name}}
        <div *ngIf="user.location">
          {{user.location}}
        </div>
        <div *ngIf="user.blog">
          <a style="text-decoration: none;" href="{{user.blog}}" target="_blank">{{user.blog}}</a>
        </div>
      </small>
    </ion-item>
    <ion-card-content>
      <ion-list>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
