
<ion-navbar *navbar>
  <ion-title>{{user.login}}</ion-title>
</ion-navbar>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="{{user.avatar_url}}">
      </ion-thumbnail>
      {{user.login}}<br/>
      <small>
        {{user.name}}
        <div *ngIf="user.location">
          {{user.location}}
        </div>
        <div *ngIf="user.blog">
          <a style="text-decoration: none;" href="{{user.blog}}" target="_blank">{{user.blog}}</a>
        </div>
      </small>
    </ion-item>
    <p *ngIf="user.bio" style="padding: 16px; padding-top:0;">
      {{user.bio}}
    </p>
    <ion-grid style="border-top: 1px solid #eee;">
      <ion-row style="text-align:center">
        <ion-col tappable width-50 *ngIf="user.followers > 0" (click)="viewFollowers($event, user.followers_url)">{{user.followers}}<br/>Followers</ion-col>
        <ion-col width-50 *ngIf="user.followers == 0">{{user.following}}<br/>Following</ion-col>
        <ion-col tappable width-50 *ngIf="user.following > 0" (click)="viewFollowing($event, user.following_url)">{{user.following}}<br/>Following</ion-col>
        <ion-col width-50 *ngIf="user.following == 0">{{user.following}}<br/>Following</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>

    <ion-list>
      <ion-item tappable (click)="viewOrganizations($event, user.organizations_url)">
        Organizations
      </ion-item>
      <ion-item tappable (click)="viewEvents($event, user.events_url)">
        Events
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item tappable *ngIf="user.public_repos > 0" (click)="viewRepos($event, user.repos_url)">
        Public Repositories: {{user.public_repos}}
      </ion-item>
      <ion-item tappable *ngIf="user.public_gists > 0" (click)="viewGists($event, user.gists_url)">
        Public Gists: {{user.public_gists}}
      </ion-item>
      <ion-item tappable (click)="viewStarredRepos($event, user.starred_url)">
        Starred Repos
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>
