
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Repositories</ion-title>
</ion-navbar>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let repo of repoList; let i = index" (click)="itemTapped($event, repo)">
      <span primary>{{repo.name}}</span>
      <br/>
      <small style="word-wrap: break-word;">
        <span *ngIf="repo.description"><em>{{repo.description}}</em><br/></span>
        <span *ngIf="repo.language">{{repo.language}} | </span><span>{{repo.stargazers_count}} Stars</span>
      </small>
    </ion-item>
  </ion-list>
</ion-content>
