<ion-view view-title="{{user.login}}">
  <ion-content>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img ng-src="{{user.avatar_url}}">
        <h2>{{user.name}}</h2>
        <p>
          <a href="{{user.blog}}" target="system">{{user.blog}}</a>
        </p>
        <p>{{user.location}}</p>
      </div>
      <div class="item">
        {{user.followers}} Followers
      </div>
      <div class="item">
        {{user.following}} Following
      </div>
    </div>
  </ion-content>
</ion-view>
