
<ion-navbar *navbar>
  <ion-title>{{selectedRepo.name}}</ion-title>
</ion-navbar>


<ion-content>
  <ion-card>
    <ion-card-header>
      {{selectedRepo.name}}<br/>
      <small (click)="viewOwnerProfile($event, selectedRepo.owner.url)"><a href="#">{{selectedRepo.owner.login}}</a></small>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="selectedRepo.description">
        {{selectedRepo.description}}
      </div>
      <div *ngIf="selectedRepo.homepage">
        <a href="{{selectedRepo.homepage}}" target="_blank">{{selectedRepo.homepage}}</a>
      </div>
      <div *ngIf="selectedRepo.language">
        Primary Language: {{selectedRepo.language}}
      </div>
    </ion-card-content>
    <ion-grid style="border-top: 1px solid #eee;">
      <ion-row style="text-align:center">
        <ion-col width-50 *ngIf="selectedRepo.stargazers_count > 0" (click)="viewStargazers($event, selectedRepo.stargazers_url)">{{selectedRepo.stargazers_count}}<br/>Stargazers</ion-col>
        <ion-col width-50 *ngIf="selectedRepo.stargazers_count == 0">{{selectedRepo.stargazers_count}}<br/>Stargazers</ion-col>
        <ion-col width-50 *ngIf="selectedRepo.forks_count > 0" (click)="viewFollowers($event, selectedRepo.forks_url)">{{selectedRepo.forks_count}}<br/>Forks</ion-col>
        <ion-col width-50 *ngIf="selectedRepo.forks_count == 0">{{selectedRepo.forks_count}}<br/>Forks</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item (click)="viewContents($event)">
        Source
      </ion-item>
      <ion-item (click)="viewContents($event)">
        Forks
      </ion-item>
      <ion-item (click)="viewContents($event)">
        Releases
      </ion-item>
      <ion-item (click)="viewContents($event)">
        Contributors
      </ion-item>
      <ion-item (click)="viewContents($event)">
        Pull Requests
      </ion-item>
      <ion-item (click)="viewContents($event)">
        Issues
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
