<ion-menu [content]="content">

  <ion-toolbar dark>
    <ion-title></ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <div *ngFor="let page of pages">
        <ion-item menuClose ion-item *ngIf="page.component" (click)="openPage(page)">
          {{page.title}}
        </ion-item>
      </div>
    </ion-list>
    <div padding>
      <button block outline danger (click)="logout()">Logout</button>
    </div>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
