.dark-background {

  background-color: rgb(34, 38, 42);
  color: white;
}

.dark-background .item,
.dark-background .item .item-content {
  background-color: rgb(34, 38, 42);
  color: white;
  border-color: rgb(21, 23, 26);
}

.dark-background .item.item-divider {
  background-color: rgb(43, 49, 56);
  color: white;
}

.light-background {
  background-color: #f5f5f5;
}
